* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	color: black;
	line-height: 1em;
	margin: 0;
    padding: 2em 1em;
    overflow: hidden;
}

.container{
    display: flex;
    padding: 1rem;
}

.col1{
    flex: 25%;
    text-align: center;
}

.col2{
    flex: 40%;
    /* justify-content: center; */
    text-align: center;
}

.col3{
    flex: 35%;
    text-align: center;
}

.graphs{
    text-align: center;
}

.chart{
    width: 100%;
    height: 360px;
}

.radio{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.canvas{
    padding-bottom: 2rem;
}

canvas{
    background-color: #e1eafd;
}

label{
    cursor: pointer;
}

.button {
    top:50%;
    background: #084cdf;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding: 8px 40px;
    min-height:20px; 
    min-width: 120px;
    cursor: pointer;
    font-size: medium;
}

.button:hover{
    background: #0d45a5;
}

button[type=submit] {
    top:50%;
    background: #084cdf;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding: 8px 40px;
    min-height:10px; 
    min-width: 80px;
    cursor: pointer;
    font-size: medium;
}

button[type=submit]:hover{
    background: #0d45a5;
}

input[type=file]{
    display: none;
}

.label{
    background: #084cdf;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding: 8px 40px;
    min-height:10px; 
    min-width: 80px;
    cursor: pointer;
    font-size: medium;
}

.label:hover{
    background: #0d45a5;
}

.Import{
    padding-top: 4rem;
}

.Export{
    padding-top: 2rem;
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
.tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 2px solid #ddd;
    display: inline-block;
}
  
.tab.active {
    border-bottom: 2px solid black;
}
  
.tab-content {
    display: none;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.tab-content.active {
    display: block;
}

.filter-graph{
    display: flex;
    text-align: center;
}

.filter{
    flex: 50%;
    text-align: center;
}

.phase{
    flex: 50%;
    text-align: center;
}

.chart1{
    width: 100%;
    height: 350px;
}

.form-cont{
    text-align: center;
    padding-bottom: 1rem;
}

.form-cont * {
    padding: 5px 10px;
}

input[type=number]{
    padding: 5px 10px;
}

.submit-btn{
    text-align: center;
}

.chart2{
    width: 100%;
    height: 320px;
}

.chart3{
    width: 100%;
    height: 350px;
}

.filter-table{
    text-align: center;
}

table{
    overflow-y: auto;
    max-height: 150px;
    display:block;
    text-align: left;
    padding-left: 22rem;
}

table::-webkit-scrollbar {
    width: 10px;
}

table::-webkit-scrollbar-track {
    background-color: darkgrey;
}

th, td{
    padding: 0.5rem;
}
th{
    text-align: center;
}
/* td{
    border:1px solid black;
} */

.table-btn{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.table-btn:hover{
    color:#0d45a5;
}

.scroll-area {
    overflow-x: hidden;
    white-space: nowrap;
    display: flex;
}
.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}
.left-arrow {
    left: 0;
}
.right-arrow {
    right: 0;
}

.menu-wrapper {
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

.menu	{
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
	
.item {
    display: inline-block;
}

img{
    cursor: pointer;
    height: 50%;
    width: 70%;
}

img:hover{
    opacity: 0.5;
}

.canvas2{
    padding-top: 2rem;
}
