<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <title>Document</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <div class="container">
    <div class="col1">
      <div class="Import">
        <form id="formImport" enctype="multipart/form-data">
          <input type="file" name="file" id="file" > 
          <label for="file" class="label">Import</label>
        </form>
      </div>
      <div class="radio">
        <input type="radio" id="zero" name="pole-zero-select" value="zero" checked>
        <label for="zero">Zero</label>
        <input type="radio" id="pole" name="pole-zero-select" value="pole">
        <label for="pole">Pole</label>
      </div>
      <div class="canvas">
        <canvas id="z-plane" width="300" height="300"></canvas><br>
      </div>
      <div>
        <button class="button" onclick="deleteShape();">Delete</button>
      </div>
      <div class="Export">
        <form id="formExport">
          <button class="button" type="submit" > Export </button>
        </form>
      </div>
    </div>
    <div class="col2">
      <div class="graphs">
        <div id = "graphDiv1" class="chart"></div>
        <div id = "graphDiv2" class="chart"></div>
        <button class="button" id="myBtn">Phase Correction</button>
      </div>
    </div>
    <div class="col3">
      <form id="formSignal" enctype="multipart/form-data" method="post">
        <input type="file" name="fileSignal" id="fileSignal"> 
        <label for="fileSignal" class="label">Import Signal</label>
      </form>
      <div class="canvas2">
        <canvas id="live-signal" width="350" height="100"></canvas>
      </div>
      <div class="live-graphs">
        <div id = "graphDiv5" class="chart2"></div>
        <div id = "graphDiv6" class="chart2"></div>
        <button class="button" id ="clear">Delete Signal</button>
      </div>
    </div>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <ul class="tabs">
        <li class="tab active" data-tab="tab-1">Custum Filter</li>
        <li class="tab" data-tab="tab-2">Ready Filters</li>
        </ul>
        <div id="tab-1" class="tab-content active">
          <div class="container">
            <div class="col1">
              <form id = "allPassCoeff">
                <p>'a' value</p>
                <div class="form-cont">
                  <div>
                    <label for="x_value">x</label>
                    <input type="number" id="x_value" name="x_value" step = 0.1>
                  </div>
                  <div>
                    <label for="y_value">y</label>
                    <input type="number" id="y_value" name="y_value" step = 0.1>
                  </div>
                  <button class="button" type="submit">Show</button>
                </div>
              </form>
              <button class="button" onclick="applyFilter()">Apply</button>
            </div>
            <div class="col2">
              <div class="filter-table">
                <p>Filters</p>
                <table id="table">
                  <tr>
                    <td><p id="note">No filter added.</p></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="filter-graph">
            <div class="filter">
              <div id = "graphDiv3" class="chart1"></div>
            </div>
            <div class="phase">
              <div id = "graphDiv4" class="chart1"></div>
            </div>
          </div>
        </div>
        <div id="tab-2" class="tab-content" style="overflow-x: hidden;">
          <div class="cont">
            <div class="container">
              <div class="col1">
                <div id = "graphDiv7" class="chart3"></div>
              </div>
              <div class="col2"></div>
            </div>
            <div class="menu-wrapper">
              <ul class="menu">
                <li class="item"><img id="img" src="static\Catalog\-0.3.png" onclick="readyFilter(1);"></li>
                <li class="item"><img src="static\Catalog\-0.7.png" onclick="readyFilter(2);"></li>
                <li class="item"><img src="static\Catalog\0.5.png" onclick="readyFilter(3);"></li>
                <li class="item"><img src="static\Catalog\0.9.png" onclick="readyFilter(4);"></li>
                <li class="item"><img src="static\Catalog\1j.png" onclick="readyFilter(5);"></li>
                <li class="item"><img src="static\Catalog\2i.png" onclick="readyFilter(6);"></li>
                <li class="item"><img src="static\Catalog\0.5+0.5j.png" onclick="readyFilter(7);"></li>
                <li class="item"><img src="static\Catalog\1+1j.png" onclick="readyFilter(8);"></li>
              </ul>
            
              <div class="paddles">
                <i class="fa fa-arrow-left scroll-arrow left-arrow"></i>
                <i class="fa fa-arrow-right scroll-arrow right-arrow"></i>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="../static/script.js"></script>
</body>
</html>